body {
    font-family: 'Fondamento', cursive;
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px #2db2ff;
    background: rgb(92, 27, 36);
    margin: 0;
    padding: none;
}

header {
    text-align: center;
    height: 40vw;
    background-image: url("images/tarot-stock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: initial;
    box-shadow: 0 2vw 2vw rgba(30, 42, 51, 0.8);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 7vw;
    background-color: #081e2b;
    box-shadow: 0 0 5px #081e2b, 0 0 10px #081e2b, 0 0 25px black, 0 0 45px black;
    opacity: .7;
}

nav a {
    width: 30%;
    font-size: 3vw;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

h1 {
    font-size: 10vw;
    margin: 0;
    padding-top: 1vw;
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ce2dff, 0 0 30px #2db2ff, 0 0 40px #2db2ff, 0 0 50px #2db2ff, 0 0 75px #2db2ff;
}

.title {
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d2d, 0 0 30px #a02dff, 0 0 40px #a02dff, 0 0 50px #2db2ff, 0 0 75px #ffffff;
    }
}

h2 {
    background-color: transparent;
    text-align: center;
    color: rgb(255, 244, 209);
    text-shadow: 0 0 5px rgb(255, 244, 209), 0 0 10px #ce2dff, 0 0 15px #ce2dff, 0 0 25px rgb(255, 243, 71), 0 0 40px rgb(255, 243, 71);
    font-size: 5vw;
}

.spread {
    height: auto;
    background-image: url("images/ClothBackground.jpg");
    margin: -5vw 0 0 0;
    box-shadow: 0 0 5px rgb(255, 30, 60), 0 0 15px rgb(255, 30, 60), 0 0 25px black, 0 0 50px black, 0 0 75px black;
    padding-bottom: 5vw;
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    background-color: transparent;
    text-align: center;
    color: rgb(255, 244, 209);
    text-shadow: 0 0 5px #ce2dff, 0 0 10px rgb(255, 243, 71), 0 0 15px rgb(255, 243, 71);
    padding: 5vw 0 0 0;
    font-size: 5vw;
}

h4 {
    background-color: transparent;
    color: rgb(255, 244, 209);
    text-shadow: 0 0 5px #ce2dff, 0 0 10px rgb(255, 243, 71), 0 0 15px rgb(255, 243, 71);
    font-size: 4vw;
    margin-bottom: 1vw;
    padding: 0 5vw;
}

h5 {
    background-color: transparent;
    color: rgb(255, 244, 209);
    text-shadow: 0 0 5px #ce2dff, 0 0 10px rgb(255, 243, 71), 0 0 15px rgb(255, 243, 71);
    font-size: 3vw;
    margin: 0;
    padding: 0 5vw;
}

footer {
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 3vw;
}

h5 { /* footer text */
    background-color: transparent;
    color: rgb(255, 244, 209);
    text-shadow: 0 0 2px rgb(255, 244, 209), 0 0 5px #ce2dff, 0 0 10px black;
    font-size: 3vw;
    margin: 0;
    padding: 0 5vw;
}

footer a {
    text-decoration: none;
    color: rgb(255, 30, 60);
    text-shadow: 0 0 2px rgb(255, 30, 60), 0 0 5px #ce2dff, 0 0 10px black;
}



/* ------ Tablets ------ */
@media only screen and (min-width: 600px) {

    header {
        height: 37vw;
    }

    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 3.5vw;
    }

    h4 {
        font-size: 2.9vw;
    }

    h5 {
        font-size: 2.2vw;
    }

}



/* ------ Desktop ------ */
@media only screen and (min-width: 900px) {

    header {
        height: 27vw;
    }

    nav {
        height: 4vw;
        padding: 0 20vw;
    }

    nav a {
        font-size: 1.7vw;
    }

    h2 {
        font-size: 2vw;
    }

    h3 {
        font-size: 2vw;
    }

    h4 {
        font-size: 1.4vw;
    }

    h5 {
        font-size: 1.2vw;
    }

    footer h5 {
        font-size: 1.2vw;
    }   

}