body {
    font-family: 'Fondamento', cursive;
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px #2db2ff;
    background: rgb(92, 27, 36);
    margin: 0;
    padding: none;
}

/* ------ Header Section ------ */

header {
    text-align: center;
    height: 25vw;
    background-image: url("images/tarot-stock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: initial;
    box-shadow: 0 2vw 2vw rgba(30, 42, 51, 0.8);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 7vw;
    background-color: #081e2b;
    box-shadow: 0 0 5px #081e2b, 0 0 10px #081e2b, 0 0 25px black, 0 0 45px black;
    opacity: .7;
}

nav a {
    width: 30%;
    font-size: 3vw;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

h1 {
    font-size: 10vw;
    margin: 0;
    padding-top: 1vw;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ce2dff, 0 0 30px #2db2ff, 0 0 40px #2db2ff, 0 0 50px #2db2ff, 0 0 75px #2db2ff;
}

/* animated glow effect on title */
.title {
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d2d, 0 0 30px #a02dff, 0 0 40px #a02dff, 0 0 50px #2db2ff, 0 0 75px #ffffff;
    }
}

/* explanation of tarot */
p {
    display: none;
}




/* ------ Tarot Spread ------ */
.spread {
    height: 75vw;
    background-image: url("images/ClothBackground.jpg");
    margin: -5vw 0 0 0;
    box-shadow: 0 0 5px rgb(255, 30, 60), 0 0 15px rgb(255, 30, 60), 0 0 25px black, 0 0 50px black, 0 0 75px black;
}

h3 { /* instructions */
    background-color: transparent;
    text-align: center;
    color: rgb(255, 244, 209);
    text-shadow: 0 0 5px #ce2dff, 0 0 10px rgb(255, 243, 71), 0 0 15px rgb(255, 243, 71);
    padding: 5vw 0 0 0;
    font-size: 5vw;
}

h4 {
    background-color: transparent;
    color: rgb(255, 244, 209);
    text-shadow: 0 0 5px #ce2dff, 0 0 10px rgb(255, 243, 71), 0 0 15px rgb(255, 243, 71);
    font-size: 4vw;
    margin-bottom: 1vw;
    padding: 0 5vw;
}

h5 {
    background-color: transparent;
    color: rgb(255, 244, 209);
    text-shadow: 0 0 5px #ce2dff, 0 0 10px rgb(255, 243, 71), 0 0 15px rgb(255, 243, 71);
    font-size: 3vw;
    margin: 0;
    padding: 0 5vw;

}

.desktop {
    display: none;
}

.cardSpread {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cardPosition {
    margin: -5vw 0 0 0;
    font-size: 3vw;
    color: rgb(255, 244, 209);
    text-shadow: 0 0 5px #ce2dff, 0 0 10px rgb(255, 243, 71), 0 0 15px rgb(255, 243, 71), 0 0 30px #2db2ff, 0 0 40px white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h2 {
    width: 25%;
    text-align: center;
}

.past {
    animation: glow 1.7s infinite alternate;
}

.present {
    animation: glow 1.3s infinite alternate;
}

.future {
    animation: glow 1.5s infinite alternate;
}



/* ------ making first card flip ------ */
/* learned how to make the card flip with perspective and transform from https://www.w3schools.com/howto/howto_css_flip_card.asp */
.cardContainer {
    background-color: rgba(0, 0, 0, 0.3);
    height: 41.7vw;
    width: 24vw;
    perspective: 1000px;
    border-radius: .5rem;
    box-shadow: 0 0 2vw black;
}

.card {
    position: relative;
    height: 41.7vw;
    width: 24vw;
    text-align: center;
    transition: transform 0.6s;
    perspective: 1000px;
    transform-style: preserve-3d;
    border-radius: .5rem;
}

.up img {
    height: 41.7vw; 
    width: 24vw; 
    border-radius: .5rem;
    transform: rotateY(180deg);
}

.down {
    background-image: url('cards/card-back.jpg');
    background-size: cover;
    height: 41.7vw; 
    width: 24vw; 
    border-radius: .5rem;
}

.isFlipped {
    transform: rotateY(180deg);
}

.cardFace {
    position: absolute;
    height: 41.7vw;
    width: 24vw;
    border-radius: .5rem;
    backface-visibility: hidden;
}

/* ------ Info for each card ------ */
/* .printCardInfo {
    display: flex;
    flex-direction: column;
    margin: 5vw 0;
} */

.info {
    display: block;
    height: auto;
    min-height: 41.7vw;
    width: 24vw;
    border-radius: .5rem;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: rotateY(180deg);
}

.info:active {
    opacity: 1;
}






/* ------ Tablets ------ */
@media only screen and (min-width: 600px) {

    header {
        height: 42vw;
    }

    h1 {
        font-size: 7vw;
    }

    p {
        display: block;
        padding: 0 5vw;
        font-size: 2.2vw;
        text-shadow: 0 0 3px white, 0 0 5px #0e364d, 0 0 10px #0e364d, 0 0 15px #0e364d, 0 0 30px #0e364d;
    }

    h3 {
        font-size: 4vw;
    }

    h4 {
        font-size: 3vw;
    }

    /* .printCardInfo {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    
    .info {
        width: 30%;
    }

    .printCardInfo div {
        margin: 2vw 0;
    } */

}



/* ------ Desktop ------ */
@media only screen and (min-width: 900px) {

    header {
        height: 35vw;
    }

    nav {
        height: 4vw;
        padding: 0 20vw;
    }

    nav a {
        font-size: 1.7vw;
    }

    p {
        font-size: 1.7vw;
    }

    h3 {
        font-size: 3vw;
    }

    h4 {
        font-size: 2.5vw;
    }

    .card:hover {
        transform: rotateY(-30deg);
    } /* this tilts the card prior to flipping */    

    .card.isFlipped {
        transform: rotateY(180deg);
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
    
    .info:hover {
        opacity: 1;
    }
    

}